<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Resume - Personal Info</h1>

    <div class="row">

        <!-- .resume-right -->
        <div class="col-md-6">

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Communications</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title">
                        <span>Public Speaking</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>

                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title">
                        <span>Writing</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title">
                        <span>Strategic Planning</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="65%">
                    <div class="skillbar-title">
                        <span>Social Media</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title">
                        <span>Event Organization</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Management Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title">
                        <span>Organization</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title">
                        <span>Time Management</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title">
                        <span>Problem Solving</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title">
                        <span>Leadership</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Interpreting &amp; Translating</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title">
                        <span>Italian &gt;  Serbo-Croat</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title">
                        <span>Serbo-Croat &gt; Italian</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title">
                        <span>English &gt; Serbo-Croat</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title">
                        <span>Serbo-Croat &gt; English</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->
            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Programming Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="35%">
                    <div class="skillbar-title">
                        <span>Phyton</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">35%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title">
                        <span>SQL</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title">
                        <span>R</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title">
                        <span>SAS</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title">
                        <span>SPSS</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">40%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Hobbies</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title">
                        <span>Music</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="70%">
                    <div class="skillbar-title">
                        <span>Sport</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title">
                        <span>Reading</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="70%">
                    <div class="skillbar-title">
                        <span>Travelling</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>
                <!-- /.skillbar -->
            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">My Resume</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;" href="images/img/CV_for_GitHub.pdf">
                <span data-hover="Download My Resume">
                    <i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
            </a>
            <!-- /.download_resume -->

        </div>
        <!-- /.resume-right -->



        <!-- .resume-left -->
        <div class="col-md-6 resume-left">
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Experience</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Adviser to the Mayor for
                        <br/> International and Public Relations
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2007 - 2016</span>
                    </h5>
                    <h6>
                        <span class="fa fa-briefcase"></span> Municipality of Bar, Montenegro</h6>
                    <p> In charge of the entire range of PR activities, from strategic communications planning 
                        to executing the planned activities (press releases writing, 
                        press conference organization, web site updating, event organization etc.).
                        In addition, I led a team of 7 people in charge of preparing project proposals for EU funding,
                        as well as overseeing the implementation of the approved projects. 
                    </p>
                </li>
                <li>
                    <h5>PR &amp; Media Manager
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2006 – 2007</span>
                    </h5>
                    <h6>
                        <span class="fa fa-briefcase"></span> International Relief and Development</h6>
                    <p>My duties covered complete range of PR activities, from strategic communications planning 
                        to execution of planned activities (press releases writing, 
                        press conference organization, web site updating, event organization etc.).
                    </p>
                </li>
                <li>
                    <h5> Freelance interpreter
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2005 – 2006</span>
                    </h5>
                    <h6>
                        <span class="fa fa-briefcase"></span>
                    </h6>
                    <p>Simultaneous and consecutive interpreting and translating from/into Italian, 
                        consecutive interpreting and translating from/into English.

                    </p>
                </li>
                <li>
                    <h5>Press Attaché
                        <br/> Assistant to the Consul General
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2001 – 2005</span>
                    </h5>
                    <h6>
                        <span class="fa fa-briefcase"></span> Consulate General of Italy</h6>
                    <p>I was in charge of managing the Consul-General's office, providing administrative and research support, 
                        daily press reviews preparation, event organization, as well as
                        providing official interpreting and translation from Serbo-Croat vs Italian and vice versa. 

                    </p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>

            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Education</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5> Statistics and Information Management
                        <br/>(ongoing)
                        <span class="duration">
                            &nbsp;
                        </span>
                    </h5>
                    <h6>
                        <span class="fa fa-book"></span> University of Milan Bicocca
                        <br/>
                    </h6>
                    <p>Statistics, Informatics, Mathematical Analysis, Multivariate Analysis, Data Mining, Data Bases
                    </p>
                </li>
                <li class="first">
                    <h5>MA in Italian Language and Literature
                        <span class="duration">
                            &nbsp;
                        </span>
                    </h5>
                    <h6>
                        <span class="fa fa-book"></span> University of Belgrade</h6>
                    <p>Italian Language, Italian Literature, English Language, Latin Language
                     </p>
                </li>
                <li>
                    <h5>International Baccalaureate-Bilingual Diploma
                        <span class="duration">

                    </h5>
                    <h6>
                        <span class="fa fa-book"></span> United World College of the Adriatic</h6>
                    <p>Mathematics, English, Italian

                    </p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>


            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Trainings</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Diploma of the London School of
                        <br/> Public Relations
                        
                    </h5>
                    <h6>
                        <span class="fa fa-book"></span> London school of Public Relations - International Edition, Herceg Novi, Montenegro</h6>
                    <p></p>
                </li>
                <li>
                    <h5> Certificate in International Diplomatic
                        <br/> and Business Protocol
                        
                    </h5>
                    <h6>
                        <span class="fa fa-book"></span> European School of Protocol, Brussels, Belgium</h6>
                    <p></p>
                </li>
                <li>
                    <h5> Certificate in Preparing, Monitoring and
                        <br/>Applying with Projects for EU Funding
                        
                    </h5>
                    <h6>
                        <span class="fa fa-book"></span> Business Start-up Centre, Bar, Montenegro</h6>
                    <p></p>
                </li>
                <li>
                    <h5> Advanced Training in Preparation of Project Proposals for EU Funding
                       
                    </h5>
                    <h6>
                        <span class="fa fa-book"></span> Cross Border Institution Building (CBIB), Belgrade, Serbia </h6>
                    <p></p>
                </li>
                <li>
                    <h5> Certificate in PR and Communications
                        
                    </h5>
                    <h6>
                        <span class="fa fa-book"></span> Montenegro Media Institute, Bar, Montenegro </h6>
                    <p></p>
                </li>

            </ul>
            <!-- /.attributes -->
            <br>

        </div>
        <!-- /.resume-left -->
    </div>

    <div style="clear: both"></div>


    <!-- references -->
    <div class="row">
        <div class="col-md-12">

            <div class="reference clearfix">

                <!-- .title_content -->
                <div class="title_content" style="margin-bottom:5px">
                    <div class="text_content">Rreferences</div>
                    <div class="clear"></div>
                </div>
                <!-- /.title_content -->


                <ul>
                    <li class="clearfix">
                        <img src="/images/img/Referees/ZPavicevic.jpg" class="img_reference" width="100" height="100" alt="">
                        <p>“Sanja is diligent and responsible, excellent communicator, very well prepared, always willing to learn and acquire new skills. 
                            She is capable of grasping quickly the problem and adapting her work accordingly in order to achieve best results.”</p>
                        <span>Žarko Pavićević, former Mayor of Bar</span>
                    </li>
                    <li class="clearfix">
                        <img src="/images/img/Referees/RHarris.jpg" class="img_reference" width="100" height="100" alt="">
                        <p>“Sanja has always demonstrated a high quality of work and has a great capacity, ability and willingness to organize herself 
                            and others around her, planning well in advance, establishing priorities, following jobs through to their final 
                            completion at all times and meeting all deadlines set.”</p>
                        <span>Robert Harris, former Chief of Party, IRD Montenegro</span>
                    </li>
                    <li class="clearfix">
                        <img src="/images/img/Referees/VSetta.jpg" class="img_reference" width="100" height="100" alt="">
                        <p>“In fulfilling her tasks Sanja has always been faultless, respectful, and punctual, demonstrating excellent professional 
                            competences, high level of cultural preparation and willingness to cooperate, to contribute 
                            bringing forward proposals. ”</p>
                        <span>Valentina Setta, former Consul General of Italy</span>
                    </li>
                </ul>
            </div>
        </div>


        <div style="clear: both"></div>
    </div>

</div>
<!-- End .resume -->