<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li>
                <span class="filter active" data-filter="catPS catE catWCW catPG">All</span>
            </li>
            <li>
                <span class="filter" data-filter="catPS">Public Speaking</span>
            </li>
            <li>
                <span class="filter" data-filter="catE">Events</span>
            </li>
            <li>
                <span class="filter" data-filter="catWCW">Media Content</span>
            </li>
            <li>
                <span class="filter" data-filter="catPG">Photo Galery</span>
            </li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">
            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/01-public-speaking/ReSPA.png" title="VI ReSPA Annual Conference 2012" rel="portfolio">
                        <img src="images/img/portfolio-my-works/01-public-speaking/ReSPA.png" alt="VI ReSPA Annual Conference 2012" />
                        <div class="label">
                            <div class="label-text">
                                <a href='https://www.respaweb.eu/0/events/1/6-respa-annual-conference' target="blank" class="text-title">ReSPA - 6
                                    <sup>th</sup> Annual Conference</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/01-public-speaking/IPA-maslinarstvo.png" title="Traditional Olive Oil Production as Part of Cross-Border Tourism."
                        rel="portfolio">
                        <img src="images/img/portfolio-my-works/01-public-speaking/IPA-maslinarstvo.png" alt="IPA Oil Olive Production" />
                        <div class="label">
                            <div class="label-text">
                                <a href='http://www.barinfo.me/text.php?kategorija=1&id=838' target="blank" class="text-title">IPA Project
                                    <br/>Traditional Olive Oil Production</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images\img\portfolio-my-works\03-events\Talking-points-sample.png" title="Talking Points Sample" rel="portfolio">
                        <img src="images\img\portfolio-my-works\03-events\Talking-points-sample.png" alt="Talking points sample" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Talking points</a>
                                <span class="text-category">Sample</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/01-public-speaking/Best-Practice.png" title="eMunicipality of Bar - Best Practice Award"
                        rel="portfolio">
                        <img src="images/img/portfolio-my-works/01-public-speaking/Best-Practice.png" alt="eMunicipality" />
                        <div class="label">
                            <div class="label-text">
                                <a href='http://uom.me/en/2010/12/awards-for-best-practices-in-local-self-government/' class="text-title" target="blank">eMunicipality of Bar
                                    <br/> Best Practice Award</a>
                                <span class="text-category">

                                </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images\img\portfolio-my-works\03-events\BasketballU16.jpg" title="Inaugural Address - European Basketball Championship U16"
                        rel="portfolio">
                        <img src="images\img\portfolio-my-works\03-events\BasketballU16.jpg" alt="European Basketball Championship U16" />
                        <div class="label">
                            <div class="label-text">
                                <a href="http://www.fibaeurope.com/cid_KNce8jInH7Qj1EsyH5rjn2.season_2010.compID_YUjW-7-FJ,kK9s431Lyr41.html" target="blank"
                                    class="text-title">Inaugural Address
                                    <br/>EUR Basketball Championship U16</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images\img\portfolio-my-works\03-events\XI-Days-of-Olives.jpg" title="XI Days of Olives - Poster" rel="portfolio">
                        <img src="images\img\portfolio-my-works\03-events\XI-Days-of-Olives.jpg" alt="XI Days of Olives" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">XI Days of Olives</a>
                                <span class="text-category">Poster</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/01-public-speaking/NALAS.png" title="NEXPO 2011 - First Municipal Fair of SEE" rel="portfolio">
                        <img src="images/img/portfolio-my-works/01-public-speaking/NALAS.png" alt="NEXPO 2011" />
                        <div class="label">
                            <div class="label-text">
                                <a href='https://www.scribd.com/fullscreen/67376669?access_key=key-4uepg72hgo3app1goq1&allow_share=true&escape=false&view_mode=scroll'
                                    class="text-title" target="blank">NEXPO 2011
                                    <br/> First Municipal Fair of SEE </a>
                                <span class="text-category">

                                </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/02-media-content/Bar.jpg" title="Brochure Cover Page" rel="portfolio">
                        <img src="images/img/portfolio-my-works/02-media-content/Bar.jpg" alt="Brochure Cover Page" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title"> Bar Municipality
                                    <br/>Brochure Cover Page</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/02-media-content/Streljana_2.jpg" title="NTV Montena Reportage - Shooting Sports Facility Inauguration"
                        rel="portfolio">
                        <img src="images/img/portfolio-my-works/02-media-content/Streljana_2.jpg" alt="Shooting Sports Facility Bar" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://www.youtube.com/watch?v=ckSmKJXTrUk" target="blank" class="text-title"> NTV Montena Reportage
                                    <br/>Shooting Sports Facility Inauguration</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            
            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                    <!-- .portfolio-wrapper -->
                    <div class="portfolio-wrapper">
                        <a href="images/img/portfolio-my-works/02-media-content/Maslinari.jpg" title="Press Conference-IPA Project Closure" rel="portfolio">
                            <img src="images/img/portfolio-my-works/02-media-content/Maslinari.jpg" alt="Press Conference-IPA Project Closur" />
                            <div class="label">
                                <div class="label-text">
                                    <a href="https://www.youtube.com/watch?v=Nr46jCXMJ4M&feature=youtu.be" target="blank" class="text-title"> RTCG 1
                                        <br/>Press Conference - IPA Project Closure</a>
                                    <span class="text-category"></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                    <!-- /.portfolio-wrapper -->
                </div>
                <!-- /.portfolio -->
    

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/02-media-content/Streljana_Vijesti.png" title="Shooting Sports Facility Inauguration"
                        rel="portfolio">
                        <img src="images/img/portfolio-my-works/02-media-content/Streljana_Vijesti.png" alt="Shooting Sports Facility Bar" />
                        <div class="label">
                            <div class="label-text">
                                <a href="http://www.vijesti.me/vijesti/otvorena-streljana-u-baru-120378#" target="blank" class="text-title"> ND Vijesti
                                    <br/>Shooting Sports Facility Inauguration</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images\img\portfolio-my-works\03-events\Cooperation-Agreement-Ca-Foscari.png" title="Cooperation Agreement Signing With Ca' Foscari University "
                        rel="portfolio">
                        <img src="images\img\portfolio-my-works\03-events\Cooperation-Agreement-Ca-Foscari.png" alt="Cooperation Agreement" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Cooperation Agreement</a>
                                <span class="text-category">Bar Municipality and Ca' Foscari University </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/02-media-content/Blic_Gelichi.png" title="Blic - Prof. Gelichi's Visit" rel="portfolio">
                        <img src="images/img/portfolio-my-works/02-media-content/Blic_Gelichi.png" alt="Prof. Gelichi's Visit" />
                        <div class="label">
                            <div class="label-text">
                                <a href="images/img/portfolio-my-works/02-media-content/Blic_Gelichi.pdf"
                                target="blank" class="text-title"> Blic
                                    <br/>Prof. Gelichi's Visit</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images\img\portfolio-my-works\03-events\BasketballU16_2.jpg" title="Opening Ceremony of the European Basketball Championship U16"
                        rel="portfolio">
                        <img src="images\img\portfolio-my-works\03-events\BasketballU16_2.jpg" alt="European Basketball Championship U16" />
                        <div class="label">
                            <div class="label-text">
                                <a href="http://www.fibaeurope.com/cid_KNce8jInH7Qj1EsyH5rjn2.season_2010.compID_YUjW-7-FJ,kK9s431Lyr41.html" target="blank"
                                    class="text-title">Opening Ceremony
                                    <br/>EUR Basketball Championship U16</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPG" data-cat="catPG">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="Reggio Calabria_Firs Meeting of Mediterranean Cities 2009.jpg" rel="portfolio" 
                    title="First Meeting of Mediterranean Cities, Reggio Calabria, Italy">
                        <img src="Reggio Calabria_Firs Meeting of Mediterranean Cities 2009.jpg" alt="Reggio calabria" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Reggio Calabria, Italy</a>
                                <span class="text-category">1<sup>st</sup> Meeting of Mediterranean Cities</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/02-media-content/Independence_Day.jpg" title="Poster - Independence Day" rel="portfolio">
                        <img src="images/img/portfolio-my-works/02-media-content/Independence_Day.jpg" alt="Poster" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title"> Poster
                                    <br/>Independence Day</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images\img\portfolio-my-works\03-events\Handball.jpg" title="Press Conference - VII Mediterranenan Handball Championship"
                        rel="portfolio">
                        <img src="images\img\portfolio-my-works\03-events\Handball.jpg" alt="VII Mediterranenan Handball Championship" />
                        <div class="label">
                            <div class="label-text">
                                <a href="http://www.mediterraneanhandballconfederation.org/montenegro/" target="blank" class="text-title">7
                                    <sup>th</sup> Mediterranean Handball Champ.
                                    <br/>Press Conference</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                    <!-- .portfolio-wrapper -->
                    <div class="portfolio-wrapper">
                        <a href="images/img/portfolio-my-works/02-media-content/Dnevne_novine_Gelichi.png" 
                        title="Dnevne novine - Prof. Gelichi's Visit" rel="portfolio">
                            <img src="images/img/portfolio-my-works/02-media-content/Dnevne_novine_Gelichi.png" 
                            alt="Prof. Gelichi's Visit" />
                            <div class="label">
                                <div class="label-text">
                                    <a href="images/img/portfolio-my-works/02-media-content/Dnevne_novine_Gelichi.pdf"
                                    target="blank" class="text-title"> Dnevne novine
                                        <br/>Prof. Gelichi's Visit</a>
                                    <span class="text-category"></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                    <!-- /.portfolio-wrapper -->
                </div>
                <!-- /.portfolio -->
    
            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images\img\portfolio-my-works\03-events\Scene-setter-sample.png" title="Scene Setter Sample" rel="portfolio">
                        <img src="images\img\portfolio-my-works\03-events\Scene-setter-sample.png" alt="Scene setter sample" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Scene setter</a>
                                <span class="text-category">Sample</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                    <!-- .portfolio-wrapper -->
                    <div class="portfolio-wrapper">
                        <a href="images/img/portfolio-my-works/02-media-content/Pobjeda_Gelichi.png" 
                        title="Pobjeda - Prof. Gelichi's Visit" rel="portfolio">
                            <img src="images/img/portfolio-my-works/02-media-content/Pobjeda_Gelichi.png" 
                            alt="Prof. Gelichi's Visit" />
                            <div class="label">
                                <div class="label-text">
                                    <a href="images/img/portfolio-my-works/02-media-content/Pobjeda_Gelichi.pdf"
                                    target="blank" class="text-title"> Novosti
                                        <br/>Prof. Gelichi's Visit</a>
                                    <span class="text-category"></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                    <!-- /.portfolio-wrapper -->
                </div>
                <!-- /.portfolio -->
            
            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->