<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li>
                <span class="filter active" data-filter="catPS catE catWCW catPG">All</span>
            </li>
            <li>
                <span class="filter" data-filter="catPS">Public Speaking</span>
            </li>
            <li>
                <span class="filter" data-filter="catE">Events</span>
            </li>
            <li>
                <span class="filter" data-filter="catWCW">Web Content Writing</span>
            </li>
            <li>
                <span class="filter" data-filter="catPG">Photo Galery</span>
            </li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/img/portfolio-my-works/01-public-speaking/IPA-maslinarstvo.png" title="Traditional Olive Oil Production as Part of Cross-Border Tourism."
                        rel="portfolio">
                        <img src="images/img/portfolio-my-works/01-public-speaking/IPA-maslinarstvo.png" alt="IPA Oil Olive Production" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">IPA Project<br/>Traditional Olive Oil Production</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPG" data-cat="catPG">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/1.jpg" rel="portfolio" title="Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus.consectetur adipiscingVivamus sit amet">
                        <img src="images/portfolio/1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">catPG</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                    <!-- .portfolio-wrapper -->
                    <div class="portfolio-wrapper">
                        <a href="images/img/portfolio-my-works/01-public-speaking/NALAS.png" title="NEXPO 2011 - First Municipal Fair of SEE" rel="portfolio">
                            <img src="images/img/portfolio-my-works/01-public-speaking/NALAS.png" alt="NEXPO 2011" />
                            <div class="label">
                                <div class="label-text">
                                    <a href='https://www.scribd.com/fullscreen/67376669?access_key=key-4uepg72hgo3app1goq1&allow_share=true&escape=false&view_mode=scroll'
                                        class="text-title" target="blank">NEXPO 2011 <br/> First Municipal Fair of SEE </a>
                                    <span class="text-category">
                                            
                                    </span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                    <!-- /.portfolio-wrapper -->
                </div>
                <!-- /.portfolio -->
    

            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                    <!-- .portfolio-wrapper -->
                    <div class="portfolio-wrapper">
                        <a href="images/img/portfolio-my-works/01-public-speaking/Best-Practice.png" 
                        title="eMunicipality of Bar - Best Practice Award" rel="portfolio">
                            <img src="images/img/portfolio-my-works/01-public-speaking/Best-Practice.png" 
                            alt="eMunicipality" />
                            <div class="label">
                                <div class="label-text">
                                    <a href='http://uom.me/en/2010/12/awards-for-best-practices-in-local-self-government/'
                                        class="text-title" target="blank">eMunicipality of Bar <br/> Best Practice Award</a>
                                    <span class="text-category">
                                            
                                    </span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                    <!-- /.portfolio-wrapper -->
                </div>
                <!-- /.portfolio -->
    

            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" rel="portfolio">

                        <img src="images/portfolio/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/3.jpg" rel="portfolio">
                        <img src="images/portfolio/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/4.jpg" rel="portfolio">
                        <img src="images/portfolio/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWCW" data-cat="catWCW">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/6.jpg" rel="portfolio">
                        <img src="images/portfolio/6.jpg" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/7.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="portfolio">
                        <img src="images/portfolio/7.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPG" data-cat="catPG">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/8.jpg" rel="portfolio" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien.">
                        <img src="images/portfolio/8.jpg" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">catPG</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPS" data-cat="catPS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/9.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="portfolio">
                        <img src="images/portfolio/9.jpg" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catE" data-cat="catE">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/10.jpg" rel="portfolio">
                        <img src="images/portfolio/10.jpg" alt="QR Quick Response" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPG" data-cat="catPG">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/11.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien."
                        rel="portfolio">
                        <img src="images/portfolio/11.jpg" alt="Mobi Sock" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">catPG</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catPG" data-cat="catPG">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12.jpg" rel="portfolio">
                        <img src="images/portfolio/12.jpg" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">catPG</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->