<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Sanja Stanišić</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Sanja Stanišić</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Belgrade, Serbia</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">sanjastanisic@t-com.me</span>
                <div class="clear"></div>
            </li>

            
            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">sanjastanisic.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            I have been working as a public relation professional for over 17 years,
            both in international organizations and local government. My duties covered 
            all aspects of public relations, internal and external, from strategic communication 
            planning to execution of the plans ensuring positioning and good reputation of the organizations 
            I have been working for. 
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            I’m a keen learner, always willing to acquire new skills. At the moment I’m 
            mastering statistical analyses and programing using R, SAS, Phyton and SPSS.
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- areas of expertise 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Areas of Expertise</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            PR &amp; Communication
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>I have been working as a public relation professional for over 17 years, 
                        both in international organizations and local government. My duties covered both, internal and external public relations, 
                        from strategic communication planning to execution of the plans, ensuring positioning and good reputation 
                        of the organizations I had been working for. More precisely, I was in charge of: developing the communication strategy and 
                        overseeing its implementation, organizing different types of public events (meetings, trainings, conferences, project inaugurations, 
                        press conferences, opening ceremonies etc.), delivering various contributions like press releases, scene setters, succes stories, speeches, 
                        publications, presentations etc.  I was involved as well in media monitoring, i.e. quantitative and qualitative content analysis.   
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Interpreting &amp; Translation
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>I have extensive experience in interpreting and translating from Serbo-Croat to 
                        Italian and English and vice versa, including simultaneous and consecutive interpretation, as well as written translations 
                        of official documents. I have collaborated with Parliament of Serbia and Montenegro, Parliament of Montenegro,
                         Government of Montenegro, OSCE, Council of Europe, International Parliamentary Union,
                         Forum of Adriatic-Ionian Cities, Forum of Adriatic-Ionian Chamber of Commerce, Italian Institute for Foreign Trade etc. 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Project Management
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  At my last position I was responsible for preparation, implementation and
                         management of internationally funded projects, firstly as only person dealing with these projects, 
                         and subsequently leading a team of 7 people. I was in charge of defining the scope of work of the project 
                         team, drafting project proposals, managing project implementation and reporting. 
                         These projects encompassed cooperation with international organizations such as USAID, SNV, and GTZ, as well
                         as EU financing through different IPA programs (Adriatic, MED, Bilateral Cross-Border Cooperation etc.). 
                         The projects covered different areas, ranging from social welfare, energy efficiency to 
                         economic development through tourism and agriculture. 
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->